* {
    /*box-shadow: inset 0px 0px 0px 1px red;*/
}

body {
    // font-family: 'Raleway', sans-serif;
    margin: 0;
}

.green {
    /*color: #27ae60 !important;*/
    color: #2ecc71 !important;
    opacity: .9;
}
.orange {
    /*color: #f39c12 !important;*/
    color: #e67e22 !important;
    opacity: .9;
}
.red {
    /*color: #c0392b !important;*/
    color: #e74c3c !important;
    opacity: .9;
}
.grey {
    color: #2c3e50 !important;
    opacity: .9;
}
.purple {
    color: #9b59b6 !important;
    opacity: .9;
}


.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
}